* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: url("./images/bg-pets.png"), #a1c9e7;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

input,
select {
  width: 100%;
}

hr {
  width: 100%;
  border: 1px solid #ccc;
  display: none;
}

header {
  background-color: #3695da;
  padding: 0.75rem 0.5rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  margin: 0 auto;
}

.search-form {
  max-width: 350px;
  min-width: 280px;
  margin: 0 auto;
  background-color: #274f6c;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1.5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (min-width: 769px) {
  .search-form {
    margin-left: 2rem;
    margin-top: 2rem;
  }
}

.search-form > * + * {
  margin-top: 15px;
}

.additional-options {
  display: none;
}

.results-list {
  display: none;
}

.expanded,
.show-results {
  display: block;
}
.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-pets button {
  width: 100px;
  font-size: 1.25rem;
  color: #fff;
  border: 2px solid white;
  border-radius: 3px;
  background-color: #3695da;
}

.search-pets button:hover,
.search-pets button:focus {
  background-color: #ccc;
}

#additional-options_btn {
  width: 160px;
  font-size: 1rem;
  border: none;
  color: #ccc;
  background-color: transparent;
}

#additional-options_btn:hover,
#additional-options_btn:focus {
  color: #fff;
}
