* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: url("./images/bg-pets.png"), #a1c9e7;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

input,
select {
  width: 100%;
}

hr {
  width: 100%;
  border: 1px solid #ccc;
  display: none;
}

header {
  background-color: #3695da;
  padding: 0.75rem 0.5rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
  color: #fff;
  background-color: #3695da;
  padding: 0.75rem 0.5rem;
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  margin: 0 auto;
}

.search-form {
  max-width: 350px;
  min-width: 280px;
  margin: 0 auto;
  background-color: #274f6c;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1.5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (min-width: 769px) {
  header {
    padding-left: 2.5rem;
  }

  .search-form {
    margin-left: 5.5rem;
    margin-top: 2rem;
    border-radius: 8px;
  }
}

.search-form > * + * {
  margin-top: 15px;
}

.additional-options {
  display: none;
}

.expanded {
  display: block;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-pets button {
  width: 100px;
  font-size: 1.25rem;
  color: #fff;
  border: 2px solid white;
  border-radius: 3px;
  background-color: #3695da;
}

.search-pets button:hover,
.search-pets button:focus {
  background-color: #ccc;
}

#additional-options_btn {
  width: 160px;
  font-size: 1rem;
  border: none;
  color: #ccc;
  background-color: transparent;
}

#additional-options_btn:hover,
#additional-options_btn:focus {
  color: #fff;
}

.spacer {
  margin-bottom: 15px;
}

.results-list {
  display: none;
}

.results-list.show-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 250px));
  gap: 2rem;
  list-style-type: none;
  margin: 0 auto;
  justify-content: center;
  padding: 0 1rem 5.5rem;
}

.pet-result {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  position: relative;
  margin-top: 1.5rem;
}

.pet-result:hover,
.pet-result:focus {
  transform: scale(1.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pet-age {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  background-color: #fff;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pet-img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (min-width: 1024px) {
  header {
    padding-left: 5.5rem;
  }

  .mq-flex {
    max-width: 1500px;
    margin: 0 auto;
  }
}
